In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

### 创建DataFrame对象
#### 通过二维数组创建DataFrame对象

In [6]:
scores = np.random.randint(60, 101, (5, 3))
scores
course = ['语文', '数学', '英语']
ids = [1001,1002,1003,1004,1005]
df1 = DataFrame(data = scores, index = ids, columns = course)
df1

      语文  数学   英语
1001  95  94   72
1002  68  71   85
1003  76  85   85
1004  82  64  100
1005  64  72   96

通过字典创建DataFrame对象