In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import pymysql

In [8]:
conn = pymysql.Connection(host = '127.0.0.1', port = 3306,user = 'root', password = 'zhangchuanlong.9', database = 'bjpowernode')

In [13]:
 tables_df = pd.read_sql('show tables', conn)

In [14]:
type(tables_df)

pandas.core.frame.DataFrame

In [15]:
tables_df

  Tables_in_bjpowernode
0                  dept
1                   emp
2               empcopy
3                myview
4              salgrade
5            t1_student
6                 t_act
7               t_class
8             t_student
9                t_user

In [19]:
sql = 'select * from dept'
pd.read_sql(sql, conn)

   DEPTNO       DNAME       LOC
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON
4      50         销售部        天津
5      60         研发部        广州

In [23]:
tables_df.to_sql('bjpowernode', conn)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting