### pandas提供了一些用于将表格型数据读取为DataFrame对象的函数，期中read_csv和read_table这两个使用最多

首先使用linux指令查看文本文件 !cat

使用read_csv将其读入

In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [6]:
pd.read_table('data/table', header = None)

      0         1       2       3      4    5     6    7      8
0  word  precious  things     are   very  few    in  the  world
1  that        is     the  reason  there   is  only  one   you!

In [7]:
pd.read_csv('data/table')#沒有用分割符分开

  word\tprecious\tthings\tare\tvery\tfew\tin\tthe\tworld
0  that\tis\tthe\treason\tthere\tis\tonly\tone\tyou!

In [10]:
#使用分割符分开
pd.read_csv('data/table', sep = '\t', header = None, names = list('ABCDE'))

                                 A    B     C    D      E
word precious things are      very  few    in  the  world
that is       the    reason  there   is  only  one   you!

In [11]:
import sqlite3

In [15]:
conn = sqlite3.Connection('data.sqlite')
df = pd.read_sql('select * from Weather_2017',conn) 
df.shape

(26352, 9)

In [16]:
df.head()

,index,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [20]:
df.to_sql('Weather_2018_', conn,  index = False, chunksize = 2048)

D:\Anaconda\lib\site-packages\pandas\core\generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

使用read_table读取

读取sqlite文件

导包sqlite3

读取table  
 pd.read_sql("sql语句", con)

设置行索引index_col

In [25]:
#读数据，只读一部分数据
df =pd.read_sql('select ~Date/Time~ from Weather_2017', conn)

DatabaseError: Execution failed on sql 'select ~Date/Time~ from Weather_2017': near "~": syntax error

写入sql文件

In [31]:
pd.read_html ('http://vip.stock.finance.sina.com.cn/q/go.php/vComStockHold/kind/jjzc/index.phtml')

[        代码    简称        截至日期  家数   本期持股数(万股)  持股占已流通A股比例(%)   同上期增减(万股)  \
 0   600006  东风汽车  2022-09-30   1    370.1862           0.19     15.2500
 1   600008  首创环保  2022-09-30   2   3386.1583           0.46  -1664.0700
 2   600009  上海机场  2022-09-30   1   1039.9911           0.42    -46.6800
 3   600010  包钢股份  2022-09-30   1  21039.6300           0.46  21039.6300
 4   600012  皖通高速  2022-09-30   2    639.3820           0.39    639.3820
 5   600026  中远海能  2022-09-30   2   3727.6773           0.78  -3738.5295
 6   600028  中国石化  2022-09-30   2  20213.8285           0.17   1528.0903
 7   600030  中信证券  2022-09-30   1  21424.4321           1.45   1471.8887
 8   600037  歌华有线  2022-09-30   1   1162.5564           0.84    121.5300
 9   600038  中直股份  2022-09-30   3   1300.0655           2.21    624.2697
 10  600054  黄山旅游  2022-09-30   3   1310.8842           1.80    250.5301
 11  600056  中国医药  2022-09-30   1    359.9617           0.24     17.5920
 12  600059  古越龙山  2022-09-30   2   1135.5892           1.25    544.9475
 13  600060  海信视像  2022-09-30   6   7943.0632           6.07   -586.8978
 14  600061  国投资本  2022-09-30   1   5490.3479           0.85    170.9600
 15  600062  华润双鹤  2022-09-30   2    542.1460           0.52    358.2600
 16  600066  宇通客车  2022-09-30   1   1365.9943           0.62    159.4600
 17  600067  冠城大通  2022-09-30   1    607.4400           0.44   -396.5000
 18  600072  中船科技  2022-09-30   3   2144.6133           2.91   1337.9173
 19  600073  上海梅林  2022-09-30   1   1757.3760           1.87  -1639.6014
 20  600075  新疆天业  2022-09-30   4   3085.7162           1.81     71.9034
 21  600077  宋都股份  2022-09-30   1    418.0315           0.31   -287.9600
 22  600079  人福医药  2022-09-30   3   3760.5839           2.30   1747.3371
 23  600085   同仁堂  2022-09-30   4   9293.5468           6.78   -103.9371
 24  601975  招商南油  2022-09-30   3  13520.3266           2.79   9002.2258
 25  600095  湘财股份  2022-09-30   2   3174.5402           1.11   1502.0242
 26  600096   云天化  2022-09-30   1    610.7455           0.33   -369.9745
 27  600097  开创国际  2022-09-30   1    138.7200           0.58    138.7200
 28  600104  上汽集团  2022-09-30   1   4343.7147           0.37   4343.7147
 29  600105  永鼎股份  2022-09-30   2    757.5710           0.54    757.5710
 30  600109  国金证券  2022-09-30   2   8287.4337           2.23   1080.0900
 31  600110  诺德股份  2022-09-30   3   2044.5761           1.17  -2573.5000
 32  600111  北方稀土  2022-09-30   2   2275.7826           0.63  -1583.8442
 33  600118  中国卫星  2022-09-30   3   1127.9562           0.95   -463.7387
 34  600121  郑州煤电  2022-09-30   3   1993.3511           1.64   -297.7552
 35  600123  兰花科创  2022-09-30   4   1936.6637           1.70   -773.1569
 36  600129  太极集团  2022-09-30   5   4618.3792           8.29   2696.9608
 37  600131  国网信通  2022-09-30   3   5371.7270           4.49  -2309.6742
 38  600132  重庆啤酒  2022-09-30   5   2432.4470           5.03   -212.2833
 39  600138   中青旅  2022-09-30   5   2987.4558           4.13   -638.8179

     持股比例(%)  上期家数     明细
 0      0.18     1  +展开明细
 1      0.69     3  +展开明细
 2      0.56     1  +展开明细
 3      0.00     0  +展开明细
 4      0.00     0  +展开明细
 5      1.56     3  +展开明细
 6      0.15     2  +展开明细
 7      1.35     1  +展开明细
 8      0.75     1  +展开明细
 9      1.15     2  +展开明细
 10     1.45     3  +展开明细
 11     0.23     1  +展开明细
 12     0.65     1  +展开明细
 13     6.52     7  +展开明细
 14     0.83     1  +展开明细
 15     0.18     1  +展开明细
 16     0.54     1  +展开明细
 17     0.72     1  +展开明细
 18     1.10     2  +展开明细
 19     3.62     2  +展开明细
 20     1.77     4  +展开明细
 21     0.53     1  +展开明细
 22     1.23     1  +展开明细
 23     6.85     4  +展开明细
 24     0.93     1  +展开明细
 25     0.59     1  +展开明细
 26     0.53     2  +展开明细
 27     0.00     0  +展开明细
 28     0.00     0  +展开明细
 29     0.00     0  +展开明细
 30     1.94     2  +展开明细
 31     2.65     5  +展开明细
 32     1.06     4  +展开明细
 33     1.35     4  +展开明细
 34     1.88     3  +展开明细
 35     2.37     5  +展开明细
 36     3.45     2  +展开明细
 37     6.43     4  +展开明细
 38     5.46     6  +展开明细
 39     5.01     5  +展开明细  ,
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%),
       0     1         2              3          4        5          6
 0  基金代码  基金名称  本期持有(万股)  持股占已流通A股比例(%)  同上期增减(万股)  持股比例(%)  持股比例增幅(%)]

根据url获取网络上的数据

In [35]:
pd.read_html('https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html#pandas.read_html')

ValueError: No tables found