### pandas提供了一些用于将表格型数据读取为DataFrame对象的函数，期中read_csv和read_table这两个使用最多

首先使用linux指令查看文本文件 !cat

使用read_csv将其读入

In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [6]:
pd.read_table('data/table', header = None)

      0         1       2       3      4    5     6    7      8
0  word  precious  things     are   very  few    in  the  world
1  that        is     the  reason  there   is  only  one   you!

In [7]:
pd.read_csv('data/table')#沒有用分割符分开

  word\tprecious\tthings\tare\tvery\tfew\tin\tthe\tworld
0  that\tis\tthe\treason\tthere\tis\tonly\tone\tyou!

In [10]:
#使用分割符分开
pd.read_csv('data/table', sep = '\t', header = None, names = list('ABCDE'))

                                 A    B     C    D      E
word precious things are      very  few    in  the  world
that is       the    reason  there   is  only  one   you!

In [11]:
import sqlite3

In [15]:
conn = sqlite3.Connection('data.sqlite')
df = pd.read_sql('select * from Weather_2017',conn) 
df.shape

(26352, 9)

In [16]:
df.head()

,index,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [20]:
df.to_sql('Weather_2018_', conn,  index = False, chunksize = 2048)

D:\Anaconda\lib\site-packages\pandas\core\generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

使用read_table读取

读取sqlite文件

导包sqlite3

读取table  
 pd.read_sql("sql语句", con)

设置行索引index_col

写入sql文件

根据url获取网络上的数据